header {
font-size: 40px;
text-align: center;
font-weight: bold;
margin: 0;
padding-top: 50px;
font-family: Arial, sans-serif;
}

img {
  margin-left: 300px;
  margin-right: 200px;

}

p {
  font-family: Arial,sans-serif;
  font-size: 12px;
  text-align: center;
  margin-left: 250px;
  margin-right: 200px;
}
